<hr class="mt-4">
<div class="container mt-4 pb-3">
    
    <div class="row">
        <div class="col">
            iFood
            <br>
            <a href="#">Quienes somos</a><br>
            <a href="#">Centro de ayuda</a>
        </div>
        <div class="col">
            Descubre
            <br>
            <a href="#">Como pedir</a><br>
            <a routerLink="registroSuscripcion">Registra tu restaurante</a>
        </div>
        <div class="col">
            Social
            
        </div>
    </div>
</div>
