<nav class="flex">
<!--
    <form>
        <label for="buscar">Buscar restaurante</label>
        <input type="text" name="buscar" id="buscar">
    </form>
-->
    <ul>
        <li>
            <a href="#">Inicio</a>
        </li>
        <li>
            <a href="#">Restaurantes</a>
        </li>
        <li>
            <a href="">Categorias</a>
            <ul class="subMenu">
                <li><a href="#">Jugos naturales</a></li>
                <li><a href="#">Comida rapida</a></li>
            </ul>
        </li>
        <li>
            <a href="">Entrar</a>
            <ul class="subMenu">
                <li><a href="#">Cliente</a></li>
                <li><a routerLink="login">Negocio</a></li>
            </ul>
        </li>
        
    </ul>
    
    
    
</nav>
